<% @reply = Reply.new %>

<%= form_for(@reply) do |f| %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% @reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :refrigerator_id, :value => fri.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_area :content %>
  <%= f.submit "送信" %>

<% end %>

