<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">

<div class="font-default">
<div id="wrapper">
<p id="notice"><%= notice %></p>

<img src="momen.jpg" width="3%"><font size="+5"><%= current_user.username %>さんの冷蔵庫</font><img src="kinu.jpg" width="5%"><br>

<div class="right">
  <%= link_to '中身削除', refrigerators_path(dele: 1) %>
</div>

<script src="tabs.js"></script>
<ul class="tab">
  <section class="color-7">
    <nav class="cl-effect-4">
      <li class="select"><h3>期限有</h3></li>
      <li class="select"><h3>期限無</h3></li>
    </nav>
  </section>
</ul>

<ul class="content">
    <li>
      <%= form_tag(delete_refrigerators_path, method: "get") do %>
      <table border="1" cellpadding="10" class="idx1">
        <thead>
        <tr>
          <th width="108">食品名</th>
          <th width="60">残量</th>
          <th width="126" height"50">期限</th>
          <th width="60">状況</th>
          <th width="60">操作</th>
        </tr>
        </thead>
        <tbody>
          <% @refrigerators1.each do |refrigerator| %>
          <tr>
            <td><% if params[:dele] %><%= check_box_tag 'candidate[id][]', refrigerator.id %><% end %>
                <%= refrigerator.name %></td>
            <td><%= link_to refrigerator.quantity, switching_refrigerator_path(refrigerator) %></td>
            <td><%= refrigerator.deadline %></td>
            <td><% if refrigerator.release == 0 %><%= link_to '非公開', switching_refrigerator_path(refrigerator, rele: 1) %>
                <% else %><%= link_to '公開', switching_refrigerator_path(refrigerator, rele: 1) %><% end %></td>
            <td><%= link_to '編集', edit_refrigerator_path(refrigerator) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% if params[:dele] %>
        <p>
          <%= submit_tag "削除", :class => "delete", data: { confirm: '削除しますか？' } %>
        </p>
        </div>
      <% end %>
    </li>
    <li class="hide">
      <table border="1" cellpadding="10" class="idx2">
        <thead>
        <tr>
          <th>食品名</th>
          <th>残量</th>
          <th width="118" height"50">期限</th>
          <th>状況</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
          <% @refrigerators2.each do |refrigerator| %>
          <tr>
            <td><% if params[:dele] %><%= check_box_tag 'candidate[id][]', refrigerator.id %><% end %>
                <%= refrigerator.name %></td>
            <td><%= link_to refrigerator.quantity, switching_refrigerator_path(refrigerator) %></td>
            <td><%= (Date.today - refrigerator.purchase).to_i %>日経過</td>
            <td><% if refrigerator.release == 0 %><%= link_to '非公開', switching_refrigerator_path(refrigerator, rele: 1) %>
                <% else %><%= link_to '公開', switching_refrigerator_path(refrigerator, rele: 1) %><% end %></td>
            <td><%= link_to '編集', edit_refrigerator_path(refrigerator) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% if params[:dele] %>
      <p>
        <%= submit_tag "削除", :class => "delete", data: { confirm: '削除しますか？' } %>
      </p>
      </div>
      <% end %>
      <% end %>
    </li>
</ul>
<div class="right">
  <%= link_to '中身追加', new_refrigerator_path%>
</div>
</div>