<div class="font-default">
<p id="notice"><%= notice %></p>

<h1>編集・投稿</h1>

<%= render 'shared/donuts_header' %>

<div class="right">
	<%= link_to 'レシピ投稿', new_donut_path %>
</div>

<table>
  <% @donuts.each do |donut| %>
    <tr>
      <td><%= donut_image_tag donut , width: 100 %></td>
      <td style="width: 300px; word-break: break-all; vertical-align: top; border-bottom-style: dashed; border-color: orange;"><h2><%= link_to "#{donut.title}", donut %></h2><%= donut.material %></td>
      <td><%= link_to '編集', edit_donut_path(donut) %></td>
      <td><%= link_to '削除', donut_path(donut), method: :delete %></td>
    </tr>
    </tr>
  <% end %>
</table>

<br>
</div>