<div class="font-default">
<p id="notice"><%= notice %></p>

<%= render 'shared/donuts_header' %>

<h1>お気に入り</h1>

<table>
  <% @fabs.each do |fab| %>
    <tr>
      <td><%= donut_image_tag fab.donut , width: 100 %></td>
      <td style="width: 300px; word-break: break-all; vertical-align: top; border-bottom-style: dashed; border-color: orange;"><h2><%= link_to "#{fab.donut.title}", fab.donut %></h2><%= fab.donut.material %></td>
      <td><h3><%= link_to '[はずす]', unfab_donut_path(fab.donut) %></h3></td>
    </tr>
  <% end %>
</table>

<br>
</div>