<div class="font-default">
<p id="notice"><%= notice %></p>

<%= render 'shared/donuts_header' %>

<table>
	<tr>
	  <td colspan="2"><h1><strong><%= @donut.title %></strong></h1></td>
	</tr>
	<tr>
		<td rowspan="2"><%= donut_image_tag @donut , width: 250 %></td>
		<td><h3>○材料○</h3></td>
	</tr>
	<tr>
		<td><%= simple_format(@donut.material) %></td>
	</tr>
</table>
<% if Fab.find_by(donut_id: @donut.id, user_id: current_user.id) %>
	<h4><%= link_to 'お気に入りからはずす', unfab_donut_path(@donut) %></h4>
<% else %>
	<h4><%= link_to 'お気に入りに追加', fab_donut_path(@donut) %></h4>
<% end %>

<%= link_to '戻る', :back %>
</div>