<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% @myrefri.each do |refrigerator| %>
      <%= check_box_tag 'refri[id][]', refrigerator.id, refrigerator.event %>
      <%= refrigerator.name %><br>
    <% end %>
  </div>
  <%= @myrefri %>
  <div class="field">
    <%= f.label :place, "場所" %><br>
    <%= f.text_area :place %>
  </div>
  <div class="field">
      <%= f.label :date , "日時" %><br>
      <%= raw sprintf(
              f.date_select(
                  :date,
                  use_month_numbers: true,
                  start_year:        (Time.now.year),
                  end_year:          (Time.now.year + 20),
                  default:           Date.new(Time.now.year, 1, 1),
                  date_separator:    '%s'), '年 ', '月 ') + '日' %>
    </div>
  <div class="field">
    <%= f.label :upper_num, "最大人数" %><br>
    <%= f.number_field :upper_num %>
  </div>
  <div class="field">
    <%= f.label :lower_num, "最低人数" %><br>
    <%= f.number_field :lower_num %>
  </div>
  <div class="actions">
    <% if current_page?(new_event_path) %>
      <%= f.submit "新規作成"%>
    <% else %>
      <%= f.submit "イベントの更新"%>
    <% end %>
  </div>
<% end %>
